// Colors
$white: #fff;
$black: #000;

$gray: #FBFBFC;
$gray-dark: #F7F7F7;
$gray-stroke: #D1D1D1;
$gray-line: #E9EAEC;
$light-link: #545658;
$light-text: #94999E;

$font-color: #202527;
$warning-color: #EA096E;
$warning-light-color: #FF6C96;
$accent-color: #FFD028;
$main-color: #0096EA;

// Sizes
$base-font-size: 16px;

$tablet: 768px;
$large: 1024px;
$large-xl: 1200px;
$desktop: 1340px;

//$content: 1000px;

// Fonts
