extends layout/main

block variables
	-var title = 'Главная страница'

block content
	.container
		.page__head
			h1.page__title Моя корзина
			.cart__id ID корзины: 357253
	.container.container--cart
		.cart
			article.page__content.cart__content
				section.cart__prods
					.cart__prod
						img(src="assets/images/content/prod-1.png" alt="product").cart__prod-img
						.cart__prod-content
							h3.cart__prod-title Футболка Теория относительности и коты, серая
							.cart__prod-info
								.cart__prod-info__left
									.cart__prod-info__item.cart__prod-size.hide--tablet
										.cart__prod-info__title.cart__prod-size__title Размер:
										select.cart__prod-size__select
											option s
											option m
											option l
											option xl
									.cart__prod-info__item.cart__prod-count
										.cart__prod-info__title.cart__prod-count__title Кол-во:
										.cart__prod-count__block
											button.btn.cart__prod-count__btn.cart__prod-count__minus &minus;
											.cart__prod-count__number 0
											button.btn.cart__prod-count__btn.cart__prod-count__plus &plus;
										.cart__prod-count__price 1675 ₽/шт.
								.cart__prod-info__right
									.cart__prod-info__item.cart__prod-price
										.cart__prod-price__common 10 350
											| &nbsp;
											span.cart__prod-price__unit ₽
										.cart__prod-price__stock
											span.cart__prod-price__stock-amount 1 550 ₽
											span.cart__prod-price__stock-precent &nbsp;-20%
									button.btn.cart__prod-info__item.cart__prod-info__btn.cart__prod-favorites
										+icon('favorites')
										span В избранное
									button.btn.cart__prod-info__item.cart__prod-info__btn.cart__prod-del
										+icon('close')
										span Удалить
					.cart__prod
						img(src="assets/images/content/prod-2.png" alt="product").cart__prod-img
						.cart__prod-content
							h3.cart__prod-title Плакат Воздушный шар
							.cart__prod-info
								.cart__prod-info__left
									.cart__prod-info__item.cart__prod-size
										.cart__prod-info__title.cart__prod-size__title Размер:
										select.cart__prod-size__select
											option s
											option m
											option l
											option xl
									.cart__prod-info__item.cart__prod-count.hide--tablet
										.cart__prod-info__title.cart__prod-count__title Кол-во:
										.cart__prod-count__block
											button.btn.cart__prod-count__btn.cart__prod-count__minus &minus;
											.cart__prod-count__number 0
											button.btn.cart__prod-count__btn.cart__prod-count__plus &plus;
										.cart__prod-count__price 1675 ₽/шт.
								.cart__prod-info__right
									.cart__prod-info__item.cart__prod-price
										.cart__prod-price__common 102 350
											| &nbsp;
											span.cart__prod-price__unit ₽
									button.btn.cart__prod-info__item.cart__prod-info__btn.cart__prod-favorites
										+icon('favorites')
										span В избранное
									button.btn.cart__prod-info__item.cart__prod-info__btn.cart__prod-del
										+icon('close')
										span Удалить
					.cart__prod
						img(src="assets/images/content/prod-3.png" alt="product").cart__prod-img
						.cart__prod-content
							h3.cart__prod-title Блокнот TOP SECRET, A5
							.cart__prod-info
								.cart__prod-info__left
									.cart__prod-info__item.cart__prod-size.hide--tablet
										.cart__prod-info__title.cart__prod-size__title Размер:
										select.cart__prod-size__select
											option s
											option m
											option l
											option xl
									.cart__prod-info__item.cart__prod-count
										.cart__prod-info__title.cart__prod-count__title Кол-во:
										.cart__prod-count__block
											button.btn.cart__prod-count__btn.cart__prod-count__minus &minus;
											.cart__prod-count__number 0
											button.btn.cart__prod-count__btn.cart__prod-count__plus &plus;
										.cart__prod-count__price 1675 ₽/шт.
								.cart__prod-info__right
									.cart__prod-info__item.cart__prod-price
										.cart__prod-price__common 10 350
											| &nbsp;
											span.cart__prod-price__unit ₽
										.cart__prod-price__stock
											span.cart__prod-price__stock-amount 1 550 ₽
											span.cart__prod-price__stock-precent &nbsp;-20%
									button.btn.cart__prod-info__item.cart__prod-info__btn.cart__prod-favorites
										+icon('favorites')
										span В избранное
									button.btn.cart__prod-info__item.cart__prod-info__btn.cart__prod-del
										+icon('close')
										span Удалить
					.cart__prod
						img(src="assets/images/content/prod-4.png" alt="product").cart__prod-img
						.cart__prod-content
							h3.cart__prod-title Услуга подарочной упаковки
							.cart__prod-info
								.cart__prod-info__left
									.cart__prod-info__item.cart__prod-size
										.cart__prod-info__title.cart__prod-size__title Размер:
										select.cart__prod-size__select
											option s
											option m
											option l
											option xl
									.cart__prod-info__item.cart__prod-count.hide--tablet
										.cart__prod-info__title.cart__prod-count__title Кол-во:
										.cart__prod-count__block
											button.btn.cart__prod-count__btn.cart__prod-count__minus &minus;
											.cart__prod-count__number 0
											button.btn.cart__prod-count__btn.cart__prod-count__plus &plus;
										.cart__prod-count__price 1675 ₽/шт.
								.cart__prod-info__right
									.cart__prod-info__item.cart__prod-price
										.cart__prod-price__common 350
											| &nbsp;
											span.cart__prod-price__unit ₽
									button.btn.cart__prod-info__item.cart__prod-info__btn.cart__prod-favorites
										+icon('favorites')
										span В избранное
									button.btn.cart__prod-info__item.cart__prod-info__btn.cart__prod-del
										+icon('close')
										span Удалить
			aside.sidebar
				.sidebar__content
					.sidebar__info
						table.sidebar__info-table
							tbody
								tr.sidebar__info-table__row
									td.sidebar__info-table__title Товары
										span (3)
									td.sidebar__info-table__num 12 800 ₽
								tr.sidebar__info-table__row
									td.sidebar__info-table__title Скидка
									td.sidebar__info-table__num.sidebar__info-table__num--warning – 300 ₽
						.sidebar__info-hint У меня есть код для скидки
							+icon('quest')
					.sidebar__footer
						.sidebar__total
							.sidebar__total-title Итого
							.sidebar__total-count 8 370
								| &nbsp;
								span.sidebar__total-count__unit ₽
						button.btn.btn--main-bg.btn--middle.sidebar__buy Оформить заказ
				.sidebar__hint Доступные способы и время доставки можно выбрать при оформлении заказа.
	section.related.section
		.container.related__container
			h2.section__title.related__title Вам также может пригодиться
			.related__prods.swiper-container
				.swiper-wrapper.related__wrap
					.related__prod.swiper-slide
						img(src="assets/images/content/prod-5.png" alt="prod-img").related__prod-img
						.related__prod-title Услуги дизайнера
						.related__prod-price 600
							| &nbsp;
							span.related__prod-price__unit ₽
						button.btn.btn--main-bg.btn--small.related__prod-buy В корзину
					.related__prod.swiper-slide
						img(src="assets/images/content/prod-6.png" alt="prod-img").related__prod-img
						.related__prod-title Услуга подарочной упаковки
						.related__prod-price 600
							| &nbsp;
							span.related__prod-price__unit ₽
						button.btn.btn--main-bg.btn--small.related__prod-buy В корзину
					.related__prod.swiper-slide
						img(src="assets/images/content/prod-5.png" alt="prod-img").related__prod-img
						.related__prod-title Lorem ipsum dolor sit.
						.related__prod-price 600
							| &nbsp;
							span.related__prod-price__unit ₽
						button.btn.btn--main-bg.btn--small.related__prod-buy В корзину